
/* Service section */
.wrap-modal-slider.open {
    opacity: 6 !important;
  }
.slick-prev:before, .slick-next:before {
    color: red !important;
  }

  
/* Reviews Section */
.reviews_carousel .reviews_item .img-box{
  width: 135px;
  height: 135px;
}
#prev_icon{
  background-color: black !important;
}
#next_icon{
  background-color: black !important;
}
#carousel_control_prev{
  left: -100px;
}
#carousel_control_next{
  right: -100px;
}

@media (min-width: 320px) and (max-width: 640px) {
  .reviews_carousel .reviews_item p{
      font-size: 14px;
  }
  .carousel-control-prev{
      left: -40px;
  }
  .carousel-control-next{
      right: -40px;
  }
  .carousel-indicators{
      /* top: 400px; */
  }
}

/* Modal Section */
.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}
@media(max-width: 768px) {
.modal-dialog {
  min-height: calc(100vh - 20px);
}
}

